@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin: 20px;
}
#quote{
    display: flex;
    width: 50%;
    height: 30vh;
    background-color: orange;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
button{
    border: 2px solid black;
    padding: 10px;
    background-color: inherit;
    border-radius: 5px;
    font-weight: bolder;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}